body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.title{
  margin: 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

.media {
  display: flex;
}

.about-image,
.about-video {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.media-content{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 20px;
}

.contact-title {
  text-align: center;
  margin-top: 40px;
}

.facilities {
  margin-top: 40px;
  display: flex;
}


.facilities ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin-left: 40px;
}

.facilities ul li {
  margin-right: 20px;
  font-size: 10;
}

.icon {
  width: 25px;
  height: 25px;
}

footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}


form {
  max-width: 500px;
  margin: 0 auto;
}

.form-row {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

label {
  flex-basis: 30%;
  font-weight: bold;
}

input {
  flex: 1;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button{
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin: auto;
}